node_modules/
.svelte-kit/
build/
dist/
claude-skill/
.output/
.vercel/
.next/
.nuxt
.cache
.zed
.DS_Store

*.timestamp-*
cypress/screenshots/
*.txt
node_modules/
build/
authorized_key.json
dist/
out/
public/
.svelte-kit/
.output/
.vercel/
.next/
b2b.pdf
static/images/raw/
b2b-backend-requirements.md
static/uploads/
report.md
.cache
.cache-loader
.nuxt
yarn-error.log
yarn.lock
package-lock.json
bun.lockb

openapi.json
openapi.yaml

vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.auth/
shots/

# Sentry Config File
.env.sentry-build-plugin
